body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: bisque;
    background-color: darkseagreen;
    background-image: url(img/1317349408_14.jpg);
    background-repeat: repeat;
}

p {
    width: 40%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006633;
    text-align: center;
    border: 6px solid #ffb266;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #ffb266;
}

ol {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: 6px solid #ffb266;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #ffb266;
} 

li {
    width: 12%;
    background-color: crimson;
    padding: 10px;
    margin: 5px;
    margin-left: 45px;
    border-radius: 25px;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    color: coral;
}

a:active,
a:focus {
    color: darkolivegreen;
}