body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: bisque;
    background-color: darkseagreen;
    background-image: url(img/IMG_5955.jpg);
}

p {
    width: 40%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #006633;
    text-align: center;
}

ol {
    display: flex;
} 

li {
    width: 10%;
    background-color: crimson;
    padding: 10px;
    margin: 5px;
    margin-left: 45px;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    color: coral;
}

a:active,
a:focus {
    color: darkolivegreen;
}